[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Karin CHM Viewer
Exec=/usr/bin/invoker --type=e -s /usr/bin/karinchmviewer %U
Icon=/usr/share/karinchmviewer/icon/karinchmviewer_80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
MimeType=application/x-chm;
